
.Fact_1 {
    width: 400px;
    border: 5px solid #D8BA74; border-radius: 20px;
    padding: 40px;
    margin: 50px;
}


.Fact_2 {
    width: 400px;
    border: 5px solid #D8BA74; border-radius: 20px;
    padding: 40px;
    margin: 50px;
}

.Fact_3 {
    width: 400px;
    border: 5px solid #D8BA74; border-radius: 20px;
    padding: 40px;
    margin: 50px;
}

.Fact_4 {
    width: 400px;
    border: 5px solid #D8BA74; border-radius: 20px;
    padding: 40px;
    margin: 50px;
}

h1 {
    font-size: 4ch;
    color: white;
    text-shadow: black 1px 1px;
}

.back {
  background: linear-gradient(#1A1A1A, #ABABAB)
}

p {
    color: white;
}

