
.Fact_1 {
    width: 600px;
    border: 10px solid black;
    padding: 40px;
    margin: 20px;
}


.Fact_2 {
    width: 600px;
    border: 10px solid black;
    padding: 40px;
    margin: 20px;
}

.Fact_3 {
    width: 600px;
    border: 10px solid black;
    padding: 40px;
    margin: 20px;
}

.Fact_4 {
    width: 600px;
    border: 10px solid black; border-radius: 10px;
    padding: 40px;
    margin: 20px;
}

h1 {
    font-size: 4ch;

}